<br><br><br>
<!--<div class="card">
  <div class="card-header p-3 mb-2 bg-success text-white" >
    Featured
  </div>
  <div class="card-body ">
    <h5 class="card-title">New methods to teach</h5>
    <p class="card-text">5 New Teaching Methods Improving Education</p>
    <%= link_to 'Check out', "https://bit.ly/2GgUPdn", class:"btn btn-danger"%>
  </div>
</div>

<br><br><br>
<div class="card">
  <div class="card-header p-3 mb-2 bg-warning text-white" >
    Featured
  </div>
  <div class="card-body ">
    <h5 class="card-title">New methods to teach</h5>
    <p class="card-text">5 New Teaching Methods Improving Education</p>
    <%= link_to 'Check out', "https://bit.ly/2GgUPdn", class:"btn btn-danger"%>
  </div>
</div>

<br><br><br>
<div class="card">
  <div class="card-header p-3 mb-2 bg-danger text-white" >
    Featured
  </div>
  <div class="card-body ">
    <h5 class="card-title">New methods to teach</h5>
    <p class="card-text">5 New Teaching Methods Improving Education</p>
    <%= link_to 'Check out', "https://bit.ly/2GgUPdn", class:"btn btn-danger"%>
  </div>
</div>

<br><br><br>
<div class="card">
  <div class="card-header p-3 mb-2 bg-info text-white" >
    Featured
  </div>
  <div class="card-body ">
    <h5 class="card-title">New methods to teach</h5>
    <p class="card-text">5 New Teaching Methods Improving Education</p>
    <%= link_to 'Check out', "https://bit.ly/2GgUPdn", class:"btn btn-danger"%>
  </div>
</div>-->

<div class="card-deck">
  <div class="card">
    <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Heiwa_elementary_school_18.jpg/350px-Heiwa_elementary_school_18.jpg'%>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaJ2k9gR4sesy1mf-3ZcVhD52SfQCW5T91NBG-nOb2Pczimbnn'%>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqktCpoz81dMFu2hzxyycPM1Bi8ctla2bt7BP5evaAIQCeSelhhQ'%>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<br>

<br>
<div class="card">
  <div class="card-header p-3 mb-2 bg-success text-white" >
    Featured
  </div>
  <div class="card-body ">
    <h5 class="card-title">New methods to teach</h5>
    <p class="card-text">5 New Teaching Methods Improving Education</p>
    <%= link_to 'Open', "https://bit.ly/2GgUPdn", class:"btn btn-danger"%>
  </div>
</div>

<br>
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://www.wonderplugin.com/videos/demo-image0.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.wonderplugin.com/videos/demo-image0.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.wonderplugin.com/videos/demo-image0.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>